* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter";
  min-height: 200vh;
  overflow-x: hidden;
}
main article {
  gap: 50px;
}
main {
  background-color: #697565;
  flex-wrap: wrap;
  /* padding-top: 100px; */
  /* margin-top: ; */
  padding: 150px 50px;
  display: flex;
  gap: 40px;
}
main .content {
  /* position: relative; */
  /* top: 100px; */
  display: flex;
  flex-direction: column;
  /* margin-top: 20px; */
  flex: 1.5;
  gap: 50px;
  /* padding: 10px; */
}

article {
  /* padding-top: 100px; */
  /* margin-top: 10px; */
  border-radius: 20px;
  /* margin: 100px; */
  padding: 20px;
  box-shadow: 0 0 5px black, 0 0 10px black, 0 0 25px black;
}
article h1 {
  padding: 20px;
  text-align: center;
}
article p {
  text-align: justify;
  padding: 10px;
}
aside {
  /* margin-top: 10px; */
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 5px black, 0 0 10px black, 0 0 25px black;
}
main aside {
  flex: 1;
  /* align-self: flex-start; */
}

footer {
  background-color: #ecdfcc;
  padding: 20px;
  text-align: center;
  font-weight: 600;
}
aside {
  /* margin-top: 20px; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
aside h2 {
  text-align: center;
}

aside img {
  border: 5px solid #ecdfcc;
  box-shadow: 0 0 5px #ecdfcc, 0 0 20px #ecdfcc, 0 0 50px #697565;
  background-color: #697565;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
aside p {
  text-align: justify;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 30px 100px;
}
header .logo:hover {
  text-shadow: 0 0 10px white;
}
header .logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  /* letter-spacing; */
  transition: 0.6s;
}
header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul li {
  list-style: none;
}

header nav ul li a:hover {
  /* list-style: none; */
  opacity: 1;
  text-shadow: 0 0 5px white;
}
header nav ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
  /* list-style: none; */
  /* list-style: none; */
}
header.sticky {
  box-shadow: 0 0 10px black;
  border-radius: 5px;
  padding: 10px 60px;
  background-color: #ecdfcc;
  /* color: black; */
}
header.sticky .logo {
  color: #697565;
}
header.sticky .logo:hover {
  color: black;
  text-shadow: 0 0 5px black;
}
header.sticky ul li a {
  color: #697565;
}
header.sticky ul li a:hover {
  color: black;
  opacity: 1;
  text-shadow: 0 0 5px black;
}
#toggle {
  display: none;
}
.menu-toggle label {
  display: none;
}

/* Responsive */
@media screen and (max-width: 736px) {
  header nav ul li a {
    color: #697565;
  }
  header nav ul li a:hover {
    color: black;
    text-shadow: 0 0 5px black;
  }
  nav ul.slide {
    transform: translateX(0);
  }

  header {
    padding: 10px 40px;
    /* color: #697565; */
    /* z-index: 100; */
  }
  header.sticky {
    z-index: 100;
    /* position: absolute; */
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    padding: 5px 30px;
    background-color: #ecdfcc;
  }
  header .logo {
    padding: 10px;
  }

  header.sticky label:hover {
    transition: 0.6s;
    text-shadow: 0 0 5px black;
  }
  header.sticky label {
    color: #697565;
  }
  header a .logo {
    display: flex;
    position: relative;
  }

  .menu-toggle {
    display: flex;
    font-size: 40px;
  }

  .menu-toggle label:hover {
    text-shadow: 0 0 5px white;
  }
  .menu-toggle label {
    color: black;
    display: flex;
    cursor: pointer;
  }
  #toggle {
    display: none;
  }
  nav ul.slide {
    transform: translateX(0);
  }
  nav ul {
    z-index: -100;
    width: 80%;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    background-color: #ecdfcc;
    top: 0;
    align-items: center;
    height: 100vh;
    z-index: -1;
    transform: translateX(100%);
    transition: all 1s;
  }

  main {
    /* margin: 20px; */
    /* padding: 50px 20px;  */
    display: flex;
    flex-direction: column;
  }
}
